<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnomarket</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">

    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">

</head>
<body>


    <header id="header">
        <img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'app/img/tecnomarketpngicono.png' %}" alt="logo">
        </div>

        <div>

            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"> Inicio </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contacto</a>
                    </li>
                    <li><a href="{% url 'galery' %}">Galería</a></li>
                    {% if perms.app.add_producto %}
                    <li><a href="{% url 'agregar_producto' %}">Agregar Producto</a></li>
                    {% endif %}
                    {% if perms.app.view_producto %}
                    <li><a href="{% url 'listar_productos' %}">Listar Productos</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                        <li><a href="#">@{{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
                        <li><a href="{% url 'registro' %}">Registrate</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">
        {% block contenido %}
        {% endblock %}
    </div>


    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/apple.png' %}" alt="apple">
            <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'app/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'app/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="{% static 'app/img/tecnomarketpngicono.png' %}" alt="logo">
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="{% static 'app/js/menu.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for m in messages %}
            <script>
            Swal.fire({
                "title": "Felicitaciones",
                "text": "{{ m }}",
                "icon": "success"
            })
            </script>
        {% endfor %}
    {% endif %}

    {% block js %}
    {% endblock %}

</body>
</html>